{% extends "base.html" %}

    {% block title %}Length{% endblock %}
    
    {% block content%}
        <h1>Length</h1>

        <form method="POST" action="" target="_self">
            {% csrf_token %}
            {{ form.as_p }}

            {% if show_button %}
                <button type="submit" class="btn btn-outline-primary">Convert</button>
            {% endif %}

            {% if result %}
                <p>The result is {{ result }}</p>
            {% endif %}
        </form>
    {% endblock  %}