{% extends "base.html" %}

{% block title %} Weight {% endblock title %}

{% block content %}

    <div class="d-flex align-items-center mb-4">
        <h1 class="me-3">Weight</h1>
        <a href="{% url 'temperature' %}" class="link-opacity-75 text-decoration-none me-2">Temperature</a>
        <a href="{% url 'length' %}" class="link-opacity-75 text-decoration-none">Length</a>
    </div>

    <form method="POST" action="" target="_self">
        {% csrf_token %}
        {{ form.as_p }}

        {% if show_button %}
            <button type="submit" class="btn btn-outline-primary">Converter</button>
        {% endif %}

        {% if result %}
            <p>The result is {{ result }}</p>
        {% endif %}
    </form>

{% endblock content %}